name: Run Testing
on:
  pull_request:
    branches:
      - main
  
jobs:
  test:
    runs-on: ubuntu-20.04
    env:
        ACCESS_TOKEN_EXPIRES: ${{vars.ACCESS_TOKEN_EXPIRES}}
        REFRESH_TOKEN_EXPIRES: ${{vars.REFRESH_TOKEN_EXPIRES}}
        SECRET_KEY: ${{secrets.SECRET_KEY}}
        ADMIN_EMAIL: ${{secrets.ADMIN_EMAIL}}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 10

    - name: Use Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Run tests
      run: pnpm test
